.dashboard-entrenamientos{

margin-top:20px;

}

.perfil{

margin-bottom:30px;

padding:20px;

background:#111;

border-radius:15px;

color:white;

}

.contenedor-entrenamientos{

display:grid;

grid-template-columns:
repeat(
auto-fill,
minmax(280px,1fr)
);

gap:25px;

} 