.card-entrenamiento{

background:#161616;

border-radius:18px;

padding:20px;

border:1px solid #2a2a2a;

display:flex;

flex-direction:column;

gap:20px;

transition:.3s;

cursor:pointer;

}

.card-entrenamiento:hover{

transform:translateY(-10px);

border-color:#22c55e;

box-shadow:
0px 0px 20px
rgba(
34,
197,
94,
0.4
);

}

.card-header{

border-bottom:
1px solid #333;

padding-bottom:10px;

}

.nombre{

color:white;

font-size:22px;

}

.card-body{

display:flex;

flex-direction:column;

gap:10px;

}

.horario,
.cancha{

color:#bdbdbd;

font-size:15px;

}

.card-footer{

display:flex;

justify-content:
space-between;

align-items:center;

margin-top:10px;

}

.jugadores{

background:#22c55e;

padding:8px 15px;

border-radius:20px;

font-weight:bold;

color:black;

}

.estado{

padding:6px 12px;

border-radius:20px;

font-size:14px;

}

.activo{

background:#22c55e;

color:black;

}

.inactivo{

background:red;

color:white;

}

.btn-pasar-lista{

margin-top:15px;

border:none;

padding:12px;

border-radius:10px;

background:#22c55e;

font-weight:bold;

cursor:pointer;

color:black;

transition:.3s;

}

.btn-pasar-lista:hover{

background:#16a34a;

transform:scale(1.03);

}